$ff-serif: Arial, sans-serif;
$ff-roboto: Roboto, sans-serif;

$color-black: #000;
$color-dark-ashen: #080808dd;
$color-dark: #4D4E53;
$color-dark-grey: #8E8C8C;
$color-grey: #F8F8F8;
$color-wet-ashen: #414141;
$color-light-grey: #F1F1F1;
$color-dark-white: #E5E5E5;
$color-light: #fbfbfb;
$color-white: #fff;
$color-dark-blue: #000F60;
$color-blue: #3491FF;
$color-orange: #FF5B15;
$color-red: #F9170B;
$color-navy-blue: #0d3c87;
$color-content-body: #F8FBFC;
$color-border: #DFDFDF;
$color-validation: #F84747;
$color-validation-checked: #2ED120;


$mobile-screen: 768px;
