<div class="panel-content-inner">
  <div class="panel-content-header">
    <app-content-header [title]="'panel.page_title.audit'"></app-content-header>
  </div>
  <div class="panel-content-body">
    <app-content-loader *ngIf="!contentLoaded"></app-content-loader>
    <table *ngIf="contentLoaded" class="table">
      <thead>
        <tr>
          <th *ngFor="let column of sortTableService.sortedColumns">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of []">
          <td><div class="truncateLongName" tooltip="{{ event.user.name }}">{{ event.user.name }}</div></td>
          <td><div class="truncateLongName" tooltip="{{ event.title }}">{{ event.title }}</div></td>
          <td><div class="truncateLongTexts" tooltip="{{ event.description }}">{{ event.description }}</div></td>
          <td>{{ event.created_at }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="panel-content-footer">
  </div>
</div>

