<div class="panel-content-inner">
  <div class="panel-content-header">
    <app-content-header [title]="'panel.page_title.trainings_management'"></app-content-header>
    <div class="mr-4 search-box">
      <span class="mr-2">{{ 'panel.page_title.search' | translate}}</span>
      <label>
        <input type="text" class="form-control" (input)="searchTableService.filterData($event)">
      </label>
    </div>
  </div>
  <div class="panel-content-body">
    <app-trainings></app-trainings>
  </div>
  <div class="panel-content-footer">
    <!-- Button trigger modal -->
    <button *ngIf="this.permissions.checkPermission(this.permissions.PERMISSION_CREATE_TRAINING)"
            type="button"
            class="btn btn-orange mr-4"
            data-toggle="modal"
            data-target="#trainingModal"
    >
      {{ 'panel.buttons.add_training' | translate }}
    </button>
  </div>
</div>

