<div class="container">
  <div class="row">
    <div class="col-d-6 mt-8 mx-auto auth-block">
      <div class="text-center mb-5">
        <img class="w-50" src="../../../assets/image/auth-logo.png">
      </div>
      <form (submit)="submit(email.invalid, new_password.invalid, repeat_password.invalid)">
        <h1 class="h3 mb-3 font-weight-normal">
          {{ 'panel.auth.reset_password_confirm' | translate }}
        </h1>
        <div class="form-group">
          <input id="email" type="email" class="form-control" name="email"
                 placeholder="{{ 'panel.auth.email' | translate }}"
                 [(ngModel)]="credentials.email" required maxlength="100"
                 #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          >
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation">
            <small *ngIf="email.errors.required">
              {{ 'panel.errors.email_is_required' | translate }}
            </small>
            <small *ngIf="email.errors.pattern">
              {{ 'panel.errors.email_is_not_valid' | translate }}
            </small>
          </div>
        </div>
        <div class="form-group">
          <input type="password" id="new_password" name="new_password" class="form-control check-valid"
                 placeholder="{{ 'panel.auth.new_password' | translate }}" #new_password="ngModel"
                 [(ngModel)]="credentials.new_password" required minlength="8" maxlength="100"
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          >
          <div
            *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)"
            class="validation"
          >
            <small *ngIf="new_password.errors?.required">
              {{ 'panel.errors.new_password_is_empty' | translate }}
            </small>
            <small *ngIf="new_password.errors?.pattern">
              {{ 'panel.errors.password_pattern' | translate }}<br />
            </small>
            <small *ngIf="new_password.errors?.minlength">
              {{ 'panel.errors.password_must_be' | translate }} {{ new_password.errors.minlength.requiredLength }}
            </small>
          </div>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="credentials.repeat_password"
                 name="repeat_password" placeholder="Confirm Password" class="form-control"
                 required #repeat_password="ngModel" pattern="{{ new_password.value }}"
                 maxlength="100"
          />
          <div *ngIf="repeat_password.invalid && repeat_password.touched" class="validation">
            <small *ngIf="repeat_password.errors.required">
              {{ 'panel.errors.password_is_empty' | translate }}<br />
            </small>
            <small *ngIf="repeat_password.errors.pattern">
              {{ 'panel.errors.repeat_password_is_wrong' | translate }}
            </small>
          </div>
        </div>
        <alert type="danger" *ngFor="let error of systemMessages.getServerErrors()">
          {{ error | translate }}
        </alert>
        <button class="btn btn-orange btn-block" [disabled]="resetLoad">
          <span *ngIf="resetLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ 'panel.buttons.reset' | translate }}
        </button>
      </form>
      <div class="auth-menu">
        <a routerLink="/login">{{ 'panel.auth.login' | translate }}</a>
      </div>
    </div>
  </div>
  <alert type="success" *ngFor="let success of systemMessages.getServerSuccess()">
    {{ success | translate }}
  </alert>
</div>
