<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="form" [formGroup]="passwordForm" (ngSubmit)="submit()">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'panel.auth.change_password_for_user' | translate }} {{ user?.name }}</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <span>{{ 'panel.auth.current_password' | translate }}</span>
            <input type="password" formControlName="current_password" class="form-control" maxlength="100">
            <div
              *ngIf="passwordForm.get('current_password').invalid && passwordForm.get('current_password').touched"
              class="validation"
            >
              <small *ngIf="passwordForm.get('current_password').errors.required">
                {{ 'panel.errors.current_password_is_empty' | translate }}
              </small>
              <small *ngIf="passwordForm.get('current_password').errors.minlength">
                {{ 'panel.errors.password_must_be' | translate }}
                {{ passwordForm.get('current_password').errors.minlength.actualLength }} /
                {{ passwordForm.get('current_password').errors.minlength.requiredLength }}
              </small>
            </div>
          </div>
          <div class="form-group">
            <span>{{ 'panel.auth.new_password' | translate }}</span>
            <input type="password" formControlName="new_password" class="form-control check-valid" maxlength="100">
            <div
              *ngIf="passwordForm.get('new_password').invalid && passwordForm.get('new_password').touched"
              class="validation"
            >
              <small *ngIf="passwordForm.get('new_password').errors.required">
                {{ 'panel.errors.new_password_is_empty' | translate }}
              </small>
              <small *ngIf="passwordForm.get('new_password').errors.minlength">
                {{ 'panel.errors.password_must_be' | translate }}
                {{ passwordForm.get('new_password').errors.minlength.actualLength }} /
                {{ passwordForm.get('new_password').errors.minlength.requiredLength }}
              </small>
            </div>
          </div>
          <div class="form-group">
            <span>{{ 'panel.auth.repeat_password' | translate }}</span>
            <input type="password" formControlName="repeat_password" class="form-control check-valid" maxlength="100">
            <div
              *ngIf="passwordForm.get('repeat_password').invalid && passwordForm.get('repeat_password').touched"
              class="validation"
            >
              <small *ngIf="passwordForm.get('repeat_password').errors.required">
                {{ 'panel.errors.password_is_empty' | translate }}<br/>
              </small>
              <small *ngIf="passwordForm.get('repeat_password').errors.minlength">
                {{ 'panel.errors.password_must_be' | translate }}
                {{ passwordForm.get('repeat_password').errors.minlength.actualLength }} /
                {{ passwordForm.get('repeat_password').errors.minlength.requiredLength }}<br/>
              </small>
              <small *ngIf="passwordForm.get('repeat_password').errors.compare">
                  {{ 'panel.errors.repeat_password_is_wrong' | translate }}
              </small>
            </div>
          </div>
          <alert type="danger" *ngFor="let error of systemMessages.getServerErrors()">
            {{ error | translate }}
          </alert>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="resetForm()">{{ 'panel.buttons.cancel' | translate }}</button>
          <button type="submit" class="btn btn-orange" [disabled]="passwordForm.invalid">{{ 'panel.buttons.change' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>


