<div class="container">
  <div class="row">
    <div class="col-d-6 mt-8 mx-auto auth-block">
      <div class="text-center mb-5">
        <img class="w-50" src="../../../assets/image/auth-logo.png">
      </div>
      <form (submit)="submit(email.invalid)">
        <h1 class="h3 mb-3 font-weight-normal">
          {{ 'panel.auth.reset_password' | translate }}
        </h1>
        <div class="form-group">
          <input id="email" type="email" class="form-control" name="email"
                 placeholder="{{ 'panel.auth.email' | translate }}"
                 [(ngModel)]="credentials.email" required maxlength="100"
                 #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          >
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation">
            <small *ngIf="email.errors.required">
              {{ 'panel.errors.email_is_required' | translate }}
            </small>
            <small *ngIf="email.errors.pattern">
              {{ 'panel.errors.email_is_not_valid' | translate }}
            </small>
          </div>
          <alert type="danger" *ngFor="let error of systemMessages.getServerErrors()">
            {{ error | translate }}
          </alert>
        </div>
        <button class="btn btn-orange btn-block" [disabled]="resetLoad">
          <span *ngIf="resetLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ 'panel.buttons.sent' | translate }}
        </button>
      </form>
      <div class="auth-menu">
        <a routerLink="/login">{{ 'panel.auth.login' | translate }}</a>
      </div>
    </div>
  </div>
  <alert type="success" *ngFor="let success of systemMessages.getServerSuccess()">
    {{ success | translate }}
  </alert>
</div>
